---
const pageTitle = "Blog";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/blog">{pageTitle}</a>
		<a href="/about/">Sobre mi</a>

		<h1>{pageTitle}</h1>
		<h2>Cuento mis cositas!</h2>
	  
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque ipsa quos expedita! Nostrum, modi! Sapiente voluptatum enim adipisci sed, magnam iusto corrupti? Commodi illo amet minima debitis eos officia quo!</p>
	  
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae omnis laborum vitae vero, perferendis inventore at fugit provident nemo quas, libero quibusdam cumque fugiat doloribus dolores. Aspernatur, iste fugiat.</p>

		<ul>
			<li><a href="/posts/post-1/">Post 1</a></li>
			<li><a href="/posts/post-2/">Post 2</a></li>
			<li><a href="/posts/post-3/">Post 3</a></li>
		</ul>
	</body>
</html>
