---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Blog</title>
	</head>
	<body>
		<a href="/">Inicio</a>
		<a href="/blog">Blog</a>
		<a href="/about/">Sobre mi</a>

		<h1>Blog</h1>
		<h2>Cuento mis cositas!</h2>
	  
		<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque ipsa quos expedita! Nostrum, modi! Sapiente voluptatum enim adipisci sed, magnam iusto corrupti? Commodi illo amet minima debitis eos officia quo!</p>
	  
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione recusandae omnis laborum vitae vero, perferendis inventore at fugit provident nemo quas, libero quibusdam cumque fugiat doloribus dolores. Aspernatur, iste fugiat.</p>
	</body>
</html>
